# ignore everything inside tmux plugins dir besides tpm (plugin manager)
/tmux/.config/tmux/plugins/*
!/tmux/.config/tmux/plugins/tpm

# ignore solaar config because its different for everybody
/solaar/.config/solaar/*
!/solaar/.config/solaar/rules.yaml
