# ignore everything inside tmux plugins dir besides tpm (plugin manager)
/tmux/.config/tmux/plugins/*
!/tmux/.config/tmux/plugins/tpm

# ignore solaar config because its different for everybody
/solaar/.config/solaar/*
!/solaar/.config/solaar/rules.yaml

# some units are symlinked some are manually created
/systemd/.config/systemd/user/niri.service.wants/*
!/systemd/.config/systemd/user/niri.service.wants/niriswitcher.service
!/systemd/.config/systemd/user/niri.service.wants/polkit-gnome.service
