* {
  // all: unset;
  padding: 0;
  margin: 0;
  font-family: "JetBrainsMono Nerd Font";
}

button {
  background-image: none;
  outline: none;
  box-shadow: none;
  border: none;
}

// Bar
.bar-window {
  background-color: #585b70;
  padding: 0.5rem;
  min-width: 24px;
}

.bar-popout {
  background-color: beige;
  color: black;
  font-weight: bold;
  // padding: 4px;
}

.workspace {
  color: white;
  padding: 0.25rem;
}

.focused-workspace {
  background-color: #6c7086;
  border-radius: 0.5rem;
}

.workspaces {
  background-color: #7f849c;
  border-radius: 0.5rem;
}

// PowerMenu
.power-menu-box {
  background-color: #7f849c;
  padding: 1rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.power-menu-shutdown-button {
  background-color: #6c7086;
  color: black;
  border-radius: 1rem;
  min-width: 4rem;
  min-height: 4rem;
}

.power-menu-shutdown-button:hover {
  background-color: #585b70;
}

.power-menu-reboot-button {
  background-color: #6c7086;
  color: black;
  border-radius: 1rem;
  min-width: 4rem;
  min-height: 4rem;
}

.power-menu-reboot-button:hover {
  background-color: #585b70;
}

